/chatbot-frontend/node_modules
/chatbot-frontend/.pnp
/chatbot-frontend/.pnp.*
/chatbot-frontend/.yarn/*
/chatbot-frontend/!.yarn/patches
/chatbot-frontend/!.yarn/plugins
/chatbot-frontend/!.yarn/releases
/chatbot-frontend/!.yarn/versions

/chatbot-frontend/coverage

/chatbot-frontend/.next/
/chatbot-frontend/out/

/chatbot-frontend/build

/chatbot-frontend/.DS_Store
/chatbot-frontend/*.pem

/chatbot-frontend/npm-debug.log*
/chatbot-frontend/yarn-debug.log*
/chatbot-frontend/yarn-error.log*
/chatbot-frontend/.pnpm-debug.log*

/chatbot-frontend/.env*

/chatbot-frontend/.vercel

/chatbot-frontend/*.tsbuildinfo
/chatbot-frontend/next-env.d.ts





/chatbot-backend/node_modules
/chatbot-backend/.env*